<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="keywords" content="信花花，任性花。贷款平台，信息整合，精准推荐"/>
    <meta name="description" content="炬合科技旗下一款网络广告、网络推广辅助产品，
  帮助用户寻找到最后价值的信息，提高用户搜寻资讯的效率。利用大数据，精准定位用户需求，为网络广告服务商精准对接用户提供一个智能的移动平台。" />
    <title> 现金斗士 </title>
    <link href="./assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="./assets/favicon.ico">
  </head>
  <body>
    <div id="app">
		  <router-view></router-view>
    </div>
    <!-- built files will be auto injected -->
    <script type='text/javascript'>
        console.log(window.location.hash);
        if(window.location.hash === '#/setCenter'){

          /*  document.addEventListener('touchstart', function(event) {
                // 判断默认行为是否可以被禁用
                if (event.cancelable) {
                    // 判断默认行为是否已经被禁用
                    if (!event.defaultPrevented) {
                        event.preventDefault();
                    }
                }
            }, false);*/

          (function(m, ei, q, i, a, j, s) {

              m[i] = m[i] || function() {
                  (m[i].a = m[i].a || []).push(arguments)
              };
              j = ei.createElement(q),
                  s = ei.getElementsByTagName(q)[0];
              j.async = true;
              j.charset = 'UTF-8';
              j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
              s.parentNode.insertBefore(j, s);
          })(window, document, 'script', '_MEIQIA');
          _MEIQIA('entId', 55280);

            setTimeout(function () {
                console.log(document.getElementById('MEIQIA-BTN'));
                var ele = document.getElementById('MEIQIA-BTN');
                ele.style.display = block;
                /*ele.style.opacity = '1';*/

            },1000)



      }else{
            if (document.getElementById('MEIQIA-BTN')){
                var ele = document.getElementById('MEIQIA-BTN');
                ele.style.display = none;
            }
        }


    </script>
    <style>
      #MEIQIA-BTN{
        /*visibility: hidden;*/
        opacity: 0;
        z-index: -1 !important;
      }
      #MEIQIA-BTN #MEIQIA-BTN-PICTURE {
        display: block;
        border: 0;
        width: 23.405rem;
        height: 2.815rem;
      }
      #MEIQIA-BTN-HOLDER{
        right: 0;
        bottom: 0;
        top: 13.5rem;
        /*opacity: 0;*/
      }
    </style>
  </body>
</html>
